
/*
 layout, menu : http://www.javascriptkit.com/dhtmltutors/offcanvasmenu.shtml
 réponse de Ana Tudor sur transformation 3D et animations : http://stackoverflow.com/questions/9812196/css-3d-animation-how/14421939#14421939 
 menu, version nexus 7 (scroll dans le menu super propre): http://tympanus.net/Tutorials/GoogleNexusWebsiteMenu/
 animation : http://webdesign.tutsplus.com/tutorials/a-beginners-introduction-to-css-animation--cms-21068
 cunbic-bezier easing : http://lea.verou.me/2011/09/a-better-tool-for-cubic-bezier-easing/ 
*/

/*
Palette
-------
#4dd0ff
Factory.js:25 #90ff4d
Factory.js:26 #4fff4d
Factory.js:27 #ff4df6
Factory.js:28 #33001a
*/

body{
	padding: 0;
	margin: 0;
}

/* menu styles */
h1 {
    color: #fff;
    background-color: #F92672;
    margin:0;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;
    font-family: Lucida Sans Unicode;
    text-decoration: none;
    animation: bg-color 10s infinite;
}

@keyframes bg-color {
    0% { background-color: rgb(241, 81, 140); /**/}
    50% { background-color: #e77b3c; }
    100% { background-color: rgb(241, 81, 140); }
  }


h2 {
    font-size: 1em;
    color: #F92672;
    letter-spacing: 0.1em;
    text-shadow: #ddd 0px 1px;
    font-family: georgia;
}

button {
	width:100%;
    color: #777;
    background: #fff;
	padding: 0.6em; /* 1.2em;*/
	font-family: georgia;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
}

p {
    align-self: center;
}

button:hover, button:active button:focus {
	color: #4dd0ff;
}

canvas {
    background: #fff;
    display: block;
    width: 100%;
    height: 100%;
}

/* The 3D container*/
#container{
	overflow: hidden;
	perspective: 1500px;
	perspective-origin: 50% 50%;
    background: #282933;
    width: 100vw;
    height: 100vh;
}

/* 1. The main-container and the menu */
#main-container{
    position: relative;
    height: 100%;
    width: 100%;
    transform: translate3d(0,0,0); /* no shifting of DIV to start */
    transition: transform 250ms cubic-bezier(.57,0,.23,1.37); /* transition the transform property over 0.5s*/
}

#offcanvas-menu{ /* Full screen nav menu */
    width: 250px;
    height: 110%;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden; /* this is for browsers that don't support CSS3 translate3d */
    position: fixed; /* fixed menu position */
    transform-origin: 0% 50%;
    transform: translate3d(-250px,0,0) rotateY(90deg); /* shift menu -width to hide it initially */
    box-sizing: border-box; /* include padding/ border as part of declared menu width */
    background: #fff;
    display: block;
    text-align: center;
	overflow : auto;
	/* the transform property should transition over 0.5 seconds, while for the visibility property, it should complete immediately with no transitioning, but only after a delay of 0.5 seconds (the second numeric value specifies the delay) */
    transition: transform 300ms cubic-bezier(.57,0,.23,1.37), visibility 0s 0.3s;
}

/* hide scrollbar on offcanvas-menu (webkit only)*/
#offcanvas-menu::-webkit-scrollbar {
	display:none;
}

/* 2. The toggle box */
#togglebox {
    /* checkbox used to toggle menu state */
    /* position: absolute; */
    transform: translate3d(0px,0px,0px);
    display: none; /* hide checkbox, instead relying on labels to toggle it */
}
 
#navtoggler{ /* Main label icon to toggle menu state */
    z-index: 9;
    display: block;
    position: absolute;
    font-size: 8px;
    width: 4em;
    height: 2.5em;
    top: 0;
    left: 0;
    text-indent: -1000px;
    border: 0.6em solid black;
    /* border color */
    border-width: 0.6em 0;
    cursor: pointer;
	margin: 2em;
	/* animation for rotation */ 
	transition: transform 320ms cubic-bezier(.57,0,.23,1.37);
}

#navtoggler:hover{ /* Main label icon to toggle menu state */
	transform: scale(0.8);
}
 
#navtoggler::before{
    /* inner strip inside label */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.6em;
    top: 50%;
    margin-top: -0.3em;
    left: 0;
    background: black; /* stripe background color. Change to match border color of parent label above */
}

/* Overlay */
.overlay {
    /* overlay that covers entire page when menu is open */
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: #272822;
    z-index: 99;
    visibility: hidden;
	transform: translate3d(0,0,0);
    transition: opacity 0.5s; /* transition settings */
}
 
.overlay label {
    /* label of overlay that closes menu when clicked on */
    width: 100%;
    height: 100%;
    position: absolute;
}

/* 3. When the toggle box is checked */
#togglebox:checked ~ #main-container{
    margin-left: 10px; /* add some breathing room between menu and main-container */
    transform: translate3d(150px,0px,-600px) rotateY(-45deg) rotateX(20deg) ; /* shift main-container 250px to the right */
}

#togglebox:checked ~ #main-container #navtoggler{
	transform: rotate(-90deg);
}

#togglebox:checked ~ #offcanvas-menu{ /* nav state when corresponding checkbox is checked */
    transform: translate3d(0,-2%,0) rotateY(15deg); /* shift main-container 250px to the right */
    visibility: visible; /* this is for browsers that don't support CSS3 translate3d in showing the menu */
    transition-delay: 0s; /* No delay for applying "visibility:visible" property when menu is going from "closed" to "open" */
}

#togglebox:checked ~ .overlay{ /* overlay state when corresponding checkbox is checked */
    opacity: 0.5;
    visibility: visible;
}

/* introduction text */
@keyframes vanish {
  0% { opacity : 1; display: block; }
  100%{ opacity: 0; display: none; }
}

#intro {
    position:absolute;
	top:50%;
	left:50%;
	transform:translate3D(-50%, -50%, 0);
    z-index:10;
    pointer-events:none;
    text-align:center;
}

.intro_fade {
    animation: vanish 3s linear 15s 1 normal forwards;
}

.mini {
    width: 5rem;
    height: 5rem;
}